* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-size: 14px;
    color: #484848;
    font-family: Cirular, "Helvetica Neue" , Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}